@font-face {
    font-family: 'iconic-sm';
    src: url('../fonts/iconic-sm.eot');
}
.jumbotron{
    background-color: yellow;
    color: black;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 220px;
    padding: 2px 5px 2px 5px;
}
.btn-reserva{
    width: 100%;
    margin-top: 10px;
    border-radius: 0px;
}
.footer-adress-icon{
    padding-right: 3px;
}
.titulopri{
    vertical-align:text-bottom;
}
.carousel-item-next.carousel-item-left{
    display: block !important;
}
.carousel-item {
    width: 99%;
    overflow-x: hidden;
}