@font-face {
    font-family: 'iconic-sm';
    src: url('../fonts/iconic-sm.eot');
}

$yellow: rgb(231, 235, 10);
$green: #008f39;
$red: rgb(255,0,0);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 350px;
    padding: 2px 6px 2px 6px;
}
.btn-reserva{
    width: 100%;
    @include margenes(10px, 0px);
    border-radius: 0px;
}
.footer-adress-icon{
    padding-right: 3px;
}
.titulopri{
    vertical-align:text-bottom;
}
.carousel-item-next.carousel-item-left{
    display: block !important;
}
.carousel-item {
    width: 100%;
    overflow-x: hidden;
}
