@font-face {
  font-family: 'iconic-sm';
  src: url("../fonts/iconic-sm.eot"); }

.jumbotron {
  background-color: #e7eb0a;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e7eb0a;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 350px;
  padding: 2px 6px 2px 6px; }

.btn-reserva {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 3px; }

.titulopri {
  vertical-align: text-bottom; }

.carousel-item-next.carousel-item-left {
  display: block !important; }

.carousel-item {
  width: 100%;
  overflow-x: hidden; }
